<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.gbros.tabslite"
    android:targetSandboxVersion="2">

    <dist:module dist:instant="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DefaultApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WindowTranslucent">
        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.WindowTranslucent.NoActionBar">

            <nav-graph android:value="@navigation/nav_home" />

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".HomeActivity" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".HomeActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:host="*.tabslite.com" />-->
<!--                <data android:pathPrefix="/tab/" />-->
<!--                <data android:scheme="http" />-->
<!--                <data android:scheme="https" />-->
<!--            </intent-filter>-->

        </activity>
    </application>

</manifest>